<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/components :: head"/>
    <title>Failure!</title>
</head>
<body>
    <div class="container">
        <div class="row heading">
            <h1>Failure!</h1>
        </div>
        <div class="row message">
            <p>
                Oh no. Something went wrong, and we couldn't add you contact to the user database.
                <br>
                <span id="home"><a href="/">Try again later?</a></span>
            </p>
        </div>
    </div>
</body>
</html>