<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="fragments/components :: head"/>
    <title>Free Money No Scam!</title>
</head>
<body>
    <div class="container">
        <div class="row heading">
            <h1>Free Money No Scam!</h1>
        </div>

        <div class="row form">
            <form id="form" method="post" action="/submit-form">
                <div class="row">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" placeholder="Your name">
                </div>

                <div class="row">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" placeholder="you@example.com">
                </div>

                <div class="row">
                    <label for="money">How much money do you want?</label>
                    <input id="money" name="money" type="number" step="0.01" min="0" placeholder="1000">
                </div>

                <div class="row">
                    <input type="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>